@import "variables.less";
* { box-sizing: border-box; }
body {
    margin: 0; padding: 0;
    font-family: sans-serif;
    background: @primary-bg;
    color: @primary-text;
    display: flex; flex-direction: column;
    min-height: 100vh;
}
main {
    flex: 1;
    background: @content-bg;
    color: @content-text;
}