@import "variables.less";
.site-header {
    background: black;
    width: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.logo {
    margin: 0;
    color: white;
}

.nav-links {
    list-style: none;   
    display: flex;      
    gap: 2rem;          
    margin: 0;
    padding: 0;
    align-items: center;
}

.nav-links li {
    list-style: none;  
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
}

.nav-links a:hover {
    color: #d6d6d6;
}