@import "variables.less";
.p-4 { padding: 1rem; }
.px-4 { padding-left: 1rem; padding-right: 1rem; }
.py-4 { padding-top: 1rem; padding-bottom: 1rem; }
.gap-4 { gap: 1rem; }
.rounded { border-radius: 7px; }
.shadow { box-shadow: 3px 3px 5px @primary-bg; }
.fit-image { width: 100%; height: 100%; object-fit: cover; }
.text-center { text-align: center; }