<section class="gallery-scroll">
  <div class="gallery-header">
    <h2>{{galleryTitle}}</h2>
    <p>{{galleryText}}</p>
  </div>

  <div class="gallery-track">
    {{#each galleryImages}}
      <div class="gallery-card">
        <img src="{{this.src}}" alt="{{this.alt}}">
      </div>
    {{/each}}
  </div>
</section>