<section class="hero-page" style="background-image: linear-gradient(rgba(13, 74, 43, 0.7), rgba(13, 74, 43, 0.7)), url('{{heroEventos.image}}');">
  <div class="container hero-content">
    <h1>{{heroEventos.title}}</h1>
    <p>{{heroEventos.subtitle}}</p>
  </div>
</section>