<section class="hero-nosotros">

  <img src="{{nosotros.hero.image}}" alt="Nosotros">

  <div class="overlay"></div>

  <div class="content">
    <h1>{{nosotros.hero.title}}</h1>
    <p>{{nosotros.hero.subtitle}}</p>
  </div>

</section>