<section class="half-panel" id="incendio">
  <div class="panel-text">
    <h2>{{panelTitle}}</h2>
    <p>{{panelText}}</p>
    <p>{{panelText2}}</p>
  </div>
  <div class="panel-image">
    <img src="public/img/incendiodanli.jpg" alt="{{panelAlt}}">
  </div>
</section>