<section class="hero" id="inicio" style="background-image: url('/img/bosque2.jpg');">
  <div class="hero-overlay"></div>
  <div class="hero-content">
    <div class="hero-box">
      <h1>{{heroTitle}}</h1>
      <p>{{heroText}}</p>
    </div>
  </div>
</section>