<section class="hero-nosotros">

<<<<<<< HEAD
=======
  <img src="{{nosotros.hero.image}}" alt="Nosotros">

>>>>>>> 03c1403cc22524c8f40e84e5b7890329ff725c8c
  <div class="overlay"></div>

  <div class="content">
    <h1>{{nosotros.hero.title}}</h1>
    <p>{{nosotros.hero.subtitle}}</p>
  </div>

<<<<<<< HEAD
  <img src="{{nosotros.hero.image}}" alt="Nosotros">

</section> 
=======
</section>
>>>>>>> 03c1403cc22524c8f40e84e5b7890329ff725c8c
