<header class="site-header">
    <div class="navbar">
        <h1 class="logo">{{siteName}}</h1>
        <nav>
            <ul class="nav-links">
                {{#each navLinks}}
                    <li><a href="{{href}}">{{label}}</a></li>
                {{/each}}
            </ul>
        </nav>
    </div>
</header>
