<header class="site-header">
  <div class="navbar container">
    <a href="#inicio" class="logo-link">
      <img src="public/img/logoudac.png" alt="Logo UDAC" class="logo-img">
    </a>
    <nav>
      <ul class="nav-links">
        {{#each navbar.menu}}
          <li><a href="{{href}}">{{label}}</a></li>
        {{/each}}
      </ul>
    </nav>
  </div>
</header>